<app-header></app-header>
<h2>Welcome students!</h2>
<p>
	First of all I would like to congradulate you on passing your enterance exam!
	You are now a part of a lucky group who will attend this year Infinum
	JavaScript and Angular academy. In the introduction email you have already
	received some materials for learning Git and JavaScript and now it is time to
	test your knowledge.
</p>
<p>
	Ahead of you is a quiz which is made for self estimation of your knowledge
	prior to academy kickoff. It consists of {{ numberOfQuestions }} questions and
	covers two topics - Git and and JavaScript basics. If you went throught
	tutorials we sent you, you will not have any problems in solving this quiz.
</p>
<p>
	Keep in mind that quiz results are <b>not saved</b> or sent to us in any way.
	This quiz is made only for you to see how much you know and which topics you
	should learn a bit more.
</p>
