<ng-container *ngIf="questions$ | async as questions">
	<mat-progress-bar
		color="warn"
		mode="determinate"
		[value]="calculateProgress(questions.length, selectedAnswers.length)"
	></mat-progress-bar>

	<div class="quiz-wrapper">
		<mat-horizontal-stepper #stepper labelPosition="bottom">
			<mat-step>
				<app-introduction
					[numberOfQuestions]="questions.length"
				></app-introduction>
				<div class="actions">
					<button mat-button matStepperNext>Start quiz</button>
				</div>
			</mat-step>

			<mat-step
				*ngFor="
					let question of questions;
					index as i;
					first as isFirst;
					last as isLast
				"
			>
				<app-question
					[numberOfQuestions]="questions.length"
					[question]="question"
					[questionIndex]="i"
					(answered)="onAnswerSelect(questions, question.id, $event)"
				></app-question>
				<div class="actions">
					<button mat-button matStepperPrevious>
						{{ isFirst ? "Back" : "Previous" }}
					</button>
					<button mat-button matStepperNext>
						{{ isLast ? "See results" : "Next" }}
					</button>
				</div>
			</mat-step>

			<mat-step>
				<app-results [quizResult]="quizResult$ | async"></app-results>
				<div class="actions">
					<button mat-button matStepperPrevious>Previous question</button>
				</div>
			</mat-step>
		</mat-horizontal-stepper>
	</div>
</ng-container>
