@import 'assets/styles/overrides';
@import 'assets/styles/theme';


html, body { height: 100%; }
body { margin: 0; font-family: 'GTHaptik', 'Helvetica', 'Arial', sans-serif; background: #f9b800; color: #ffffff; }

a {
  color: #fff;
}
